attrs==17.4.0
beautifulsoup4==4.6.0
certifi==2017.11.5
chardet==3.0.4
cheroot==6.0.0
CherryPy==13.1.0
clang==5.0
click==6.7
configparser==3.5.0
docx==0.2.4
ez-setup==0.9
feedparser==5.2.1
Flask==0.12.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
lxml==4.1.1
MarkupSafe==1.0
more-itertools==4.0.1
nltk==3.2.5
pattern3==3.0.0
pdfminer.six==20170720
pdfminer3k==1.3.1
Pillow==5.0.0
pluggy==0.6.0
ply==3.10
portend==2.2
py==1.5.2
pycryptodome==3.4.7
PyJWT==1.5.3
PySocks==1.6.8
pytest==3.3.2
pytz==2017.3
requests==2.18.4
simplejson==3.13.2
six==1.11.0
tempora==1.10
textblob==0.15.0
twilio==6.10.0
urllib3==1.22
virtualenv==15.1.0
Werkzeug==0.13
